.main-content {
    padding: 10%;
    flex: 1 1 80%;
    min-height: 100vh;
  }

  .portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
 
  
  &__item {
    background: $accent;
    color: $light-gray;
    font-weight: $font-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    font-size: 1.5em;
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10;
    
    &.small {
      grid-row: span 1;
      grid-column: span 1;
    }
    
    &.medium {
      grid-row: span 2;
      grid-column: span 2;
  
      @media(max-width: 600px) {
        grid-row: span 2;
        grid-column: span 5;
      }
    }
    
    &.large {
      grid-row: span 6;
      grid-column: span 3;
    }
    
    &.tall {
      grid-row: span 3;
      grid-column: span 2;
    }
    
    &.wide {
      grid-row: span 2;
      grid-column: span 5;
    }
      
    &:hover {
      color: white;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
    }
  }}
  
  .orgo_pict {
    background-image: url(../orgonity/IMG_20181011_193101.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
    &::before {
      content: '';
      display: block;
      background: $medium-white;
      opacity: 0.1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      // transition: all ease-in-out 300ms;
      z-index: -1;
    }
    
    // &:hover::before {
    //   opacity: 0.2;
    // }
  
    @media(max-width: 600px) {
      display: none;
    }
  }