.sidebar {
    background: $menu-background;
    flex: 1 1 20%;
    min-width: 300px;
    padding: 3em;
    z-index: 2;

  }
  
  .logo {
    text-transform: uppercase;
    color: $main-font-color;
    margin-bottom: 2em;

    @media (max-width: 600px) {
      text-align: center;
    }
    
    @media (min-width: 1500px) {
      margin-bottom: 5em;
    }
    
    span {
      font-weight: $font-bold;
    }
  }
  
  .nav-item {
    color: $menu-font-color;
    text-decoration: none;
    font-size: 1.3rem;
    display: inline-block;
    margin-right: 2em;

    @media (max-width: 600px) {
      max-width: 150px;
    }

    @media (min-width: 1000px) {
      font-size: 1.7rem;
    }

    @media (min-width: 1500px) {
      display: block;
      margin: 7vh 0;
    }
    
    &.active {
      color: $menu-active-color;
    }
  }
  
  