$medium-white: #D3D3D3;
$white: #FAFAFF;
$medium-gray: #737373;
$light-gray: #c4c4c4;
$dim-gray: rgb(105, 105, 105);

$accent: $dim-gray;

$body-background: $medium-white;
$menu-background: $white;

$main-font-color: $light-gray;
$menu-active-color: $light-gray;
$menu-font-color: $medium-gray;
$link-color: $accent;